

.dropdownContainer .button {
    padding: 0.5rem;
    background-color: hsl(0, 0%, 0%, 0.5);
    border: 1px;
    border-style: solid;
    border-color: transparent;
    transition: all 500ms ease-in-out;

}

.dropdownContainer:hover .button {

    border-color: gray;
}

.dropdownContainer:hover {
    cursor: pointer;
}

.dropdownContainer .dropdownElement {
    padding: 0.5rem;
    background-color: hsl(0, 0%, 10%, 0.5);
    border: 1px;
    border-style: solid;
    border-color: transparent;
    transition: background-color 250ms ease-in-out;


}

.dropdownContainer .dropdownElement:hover {
    background-color: hsl(0, 0%, 8%);
    border-color: gray;


}

.dropdownContainer .dropdownElement.selected {
    display: none;
}




.dropdownContainer .dropdownElementsContainer {
    display: none;
}

.dropdownContainer.opened .dropdownElementsContainer {
    display: block;
    position: absolute;
}

