.chatContainer {
    display: flex;
    flex-direction: column;
    grid-area: chat;
    overflow-y: scroll;
    max-height: 100%;
    
}


.messageContainer .code {
    white-space: pre;
}

.messageContainer h1 {
    font-size: 1.25rem;
}

.messageContainer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px;
    border-radius: 16px;
    width: auto;
    max-width: 80%;
    margin-bottom: 16px;
}

.messageContainer.user {
    min-width: 200px;
    align-self: flex-end;
    border-top-right-radius: 0;

}

.messageContainer.response {
    min-width: 50%;
    align-self: flex-start;
    border-top-left-radius: 0;


}

.messageContainer .informationBar {
    margin-top: 4px;
    display: flex;

}

.messageContainer .displayElement {
    color: gray;
    margin-right: 8px;
    font-size: 0.75rem;
}

.messageComposeContainer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    align-self: flex-end;
    grid-area: messageCompose;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;


    transition: height 500ms ease-in-out;

}

.messageComposeContainer .content {
    --margin: 24px;
    margin: var(--margin);
    width: calc(100% - 2*var(--margin));
    height: calc(100% - 2*var(--margin));
    display: grid;
    grid-template-rows: 1fr 48px;   
    grid-template-areas: 
        "messageComposeElementContainer"
        "buttonPanel" ;

}

.messageComposeContainer:focus-within {
    box-shadow: 4px 4px 4px black;


}

.messageComposeElement {
    outline: none;
    background: none;
    border: none;
    resize: none;
    height: auto;
    max-height: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 0;
    font-size: 1rem;

    grid-area: "messageComposeElementContainer";

    justify-content: center;

    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif;
}


.buttonPanelContainer {
    display: flex;
    flex-direction: row-reverse;
}

/*
.buttonPanelContainer .button {

}*/

.buttonPanelContainer .button:hover {
    cursor: pointer;
}

.buttonPanelContainer .button svg {
    height: 38px;
    width: 38px;
    transition: all 500ms ease-in-out;
    color: transparent;
    stroke: white;
    stroke-width: 1px;
    
}
    

.buttonPanelContainer .button.send:hover svg {
    color: white;
}

.window.normalChat {
    display: grid;
    height: 100%;
    grid-template-areas: 
        "chat"
        "messageCompose";

    grid-template-rows: 1fr 200px;
    grid-template-columns: minmax(auto, 20cm);
    justify-content: center;

    padding-bottom: 0 !important;
};


.topBar.normalChat {
    display: flex;
}

.window.topBar.normalChat {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.topBarPart {
    width: min-content;
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    height: 48px;


}

.topBarPart.left {
    align-self: flex-start;
    margin-left: 16px;
}