:root {
    --chatBackgroundBrightness1: 10%; 
    --chatBackgroundBrightness2: 10%;
}

/* Styles for WebKit-based browsers */
::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
    height: 6px; /* Height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-thumb {
    background: #555; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #888; /* Color when hovering over the scrollbar thumb */
}

::-webkit-scrollbar-track {
    background: #f1f1f100; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the scrollbar track */
}



body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: gray;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body.day {
    background: linear-gradient(to top, hsl(195, 85%, 50%), hsl(213, 77%, 50%) );
}

body.evening {
    background: linear-gradient(to top, hsl(325, 72%, 40%), hsl(251, 74%, 20%) );
}

body.night {
    background: linear-gradient(to top, hsl(220, 50%, 8%), hsl(215, 50%, 12%) );
}

body.morning {
    background: linear-gradient(to top, hsl(36, 81%, 31%), hsl(251, 76%, 29%) );
}

.appContainer {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "topbar topbar"
        "left-nav-bar mainContent";
}

.appContainer .window {
    padding: 20px;
    grid-area: mainContent;
    background-color: rgba(0, 0, 0, 0.5);

}

